@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
/* @import code from '../assets/code.jpg' */



.landing{
    background: #F3EFF5;
    height: calc(100vh - 70px);
    position: sticky;
    top: 0px;
    z-index: -1;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 20px;
}

.headshot{
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: #67A2A2;
  position: relative;
  overflow: hidden;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0% 100%);
margin-left: -100px;
}

.headshot img{
  height: 80vh;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}


.code{
  background-image: url(../assets/code.jpg);
  background-size: cover;
  background-repeat: none;
  clip-path: polygon(0 0, 90% 0, 80% 100%, 0% 100%);
  margin-right: calc(-5vw - 10px);
}

.landing .title{
    background-color: #F7EE50;
    position: relative;
    color: #67A2A2;
    font-family: 'Bangers', cursive;
    font-size: 2.5vw;
    letter-spacing: 4px;
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
    margin-right: calc(-5vw - 10px);
}

.title div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
} 



.title h2{
  color: #0D0A0B;
}


/* @keyframes float {
    from {
      transform: translate(5%, 5%);
    }
  
    to {
        transform: translate(-5%, -5%);
    }
  }

.particle{
    background-color: #ffde71;
    position: absolute;
    box-shadow: 0px 0px 10px 2px #fff2c7;
    border-radius: 20px;
    z-index: -2;
    
    animation: 3s ease-in-out  infinite alternate ;
}


  @keyframes animate1 {
    from {transform: translate(500%, 500%);}
    to {transform: translate(-500%, -500%);}
  }
  @keyframes animate2 {
    from {transform: translate(500%, -500%);}
    to {transform: translate(-500%, 500%);}
  }
  @keyframes animate3 {
    from {transform: translate(500%, 500%);}
    to {transform: translate(500%, -500%);}
  }
  @keyframes animate4 {
    from {transform: translate(500%, 500%);}
    to {transform: translate(-500%, 500%);}
  }
  @keyframes animate5 {
    from {transform: translate(500%, 500%);}
    to {transform: translate(-500%, -500%);}
  }
  */

.home{
    background: #F3EFF5;
z-index: 2;
}


.techGroup{
display: grid;
grid-template-columns: auto auto auto;
width: 60vw;
grid-gap: 20px;
background-color: #0D0A0B;
color: #F3EFF5;
height: 500px;
}

.techItem{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.techItem img{
  max-height: 100px;
}
.tech{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 500px;
position: relative;
}

.techTitle{
  width: 30vw;
  background-color: #0D0A0B;
color: #F3EFF5;
height: 100%;
}
.techTitle h1{
  position: absolute;
  top: 50%;
  margin: auto;
}