.nav{
    display: flex;
    justify-content: space-around;
    background-color: #F7EE50;
    margin: 0;
    transition: 3s ease-in;
    border-top: solid #0D0A0B 5px;
    border-bottom: solid #0D0A0B 5px;
}

.nav li{
    padding: 20px;
    list-style: none;
}

.navdiv{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 2;
}