@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');


body {
  margin: 0;
 
  font-family: 'Readex Pro', sans-serif;
  font-family: 'Odibee Sans', cursive;
  font-family: 'Comic Neue', cursive;
  font-family: 'Acme', sans-serif;
  font-size: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
